/* .main__cart
.cart  */

.cart__title--image {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.cart__item {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.cart__item--title {
  font-weight: bold;
  margin-left: 1rem;
}

.cart__item--author {
  font-weight: 400;
}

/* .cart__item--image */

.cart__item--prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  font-size: 1rem;
  margin-right: 1rem;
}

.cart__item--price {
  text-align: right;
}

.cart__item--quantity {
  width: 2.8rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: .4rem;
  margin-top: 1rem;
}

.cart__item--delete {
  font-size: 1.3rem;
}

.cart__discount {
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
}

.cart__discount--title {
  font-weight: bold;
}

.cart__discount--input {
  margin: 1rem 1rem 1rem 0rem;
  font-size: 1rem;
  padding: .3rem;
}

.cart__discount--button {
  background-color: var(--red);
  margin: auto 0;
  padding: .4rem;
  color: var(--white);
}

.cart__total--items {
  width: max-content;
  margin: 0 auto;
  margin-top: 3rem;
}

.cart__total--item {
  display: flex;
  justify-content: space-between;
}

.total__item--price {
  font-weight: 400;
  margin-left: 4rem;
}

.cart__total--button {
  margin: 0 auto;
  width: max-content;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  padding: 1rem;
}
