/* DETAIL PRODUCT */

.main__detail {
  margin-top: 3rem;
}

/* .detail__product{} */

.product__wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--beige);
}

.product__images--wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.product__image--small {
  margin-top: 1rem;
}

.product__information--wrapper {
  margin-top: 2rem;
}

.product__title {
  font-size: 1.6rem;
  font-weight: bold;

}

/* .product__author */

.product__price--wrapper {
  display: flex;

}
