/* DETAIL PRODUCT */

.main__detail {
  margin-top: 3rem;
}

.detail__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--beige);
  width: 100%;

  @media (--only-mobile2-screen) {
    margin: .2rem;
  }

  @media (--only-ipad-screen) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

.product__images--wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  @media (--only-mobile2-screen) {
    transform: scale(.8);
  }

  @media (--only-ipad-screen) {
    text-align: center;
  }
}

.product__image--small {
  margin-top: 1rem;
}

.product__information--wrapper {
  margin-top: 2rem;
  width: 30%;

  @media (--only-ipad-screen) {
    flex-direction: column;
    width: 100%;
  }
}

.product__title {
  font-size: 1.6rem;
  font-weight: bold;

}

/* .product__author */

.book__price {
  margin-top: .8rem;
}

.product__price--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.book__discount--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.book__discount--text {
  text-align: right;
  width: 60%;
  margin-top: .5rem;
  font-size: .8rem;
}

.book__options {
  display: flex;
  flex-direction: column;
}

.book__options--label {
  display: flex;

  @media (--only-mobile2-screen) {
    flex-direction: column;
  }
}

/* .book__option--input {
} */

.book__option {
  margin-right: 2rem;
  display: flex;
}

.product__description {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: 60%;
  margin-bottom: 5rem;

  @media (--only-ipad-screen) {
    width: 100%;
    padding: .1rem 2rem;
  }
}

.product__description--title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cart__button--product {
  width: 12.5rem;
  padding: .5rem;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 1rem 0rem;

  &:hover {
    color: white;
    background-color: var(--red);
    transition: .2s ease-in-out;
  }
}

.list__icons {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.list__icon--image {
  margin-right: .5rem;
}
