/*header*/

.header {
  background-color: #f8f8f5;
  padding-bottom: .5rem;
}

.header__title {
  font-family: 'swiss heavy', helvetica, arial, sans-serif;
  background-color: #ee090c;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  display: block;
  padding: .5rem 1rem;
}

/* .header__primenu */

.header__primenu--items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'swiss bold', helvetica, arial, sans-serif;
}

.header__primenu--item {
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.37rem;
  line-height: 4.37rem;
  color: black;
}

.primenu__active {
  background-color: white;
  color: #ee090c;
  display: block;
}

.header__submenu {
  background-color: white;
}

.header__submenu--items {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header__submenu--item {
  text-transform: uppercase;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-family: 'swiss bold', helvetica, arial, sans-serif;
}

.submenu__active {
  color: #ee090c;
}
