/*header*/

.header {
  background-color: var(--beige);
}

.header__title {
  font-family: "Oswald", helvetica, arial, sans-serif;
  font-weight: bold;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  display: block;
  height: 100%;
  padding: .5rem 1rem;
   @media (--only-mobile-screen) {
    font-size: 2rem;
    padding: .5rem .5rem;
  };
   @media (--only-ipad-screen) {
    font-size: 2rem;
  }
}

/* .header__primenu */

.header__primenu--items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__primenu--item {
  font-family: "Oswald", helvetica, arial, sans-serif;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  line-height: 4.37rem;
  color: var(--black);

  @media (--only-mobile-screen) {
    font-size: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-right: 0rem;
    padding-left: 0rem;
  };

  @media (--only-ipad-screen) {
    font-size: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.footer {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__items {
  display: flex;
  @media (--only-mobile-screen) {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  @media (--only-ipad-screen) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__item {
  margin: 2rem;
  text-transform: capitalize;
  @media (--only-mobile-screen) {
    font-size: 1rem;
  };

  @media (--only-ipad-screen) {
    font-size: 1rem;
  }
}
