/*base*/

html {
  box-sizing: border-box;
}
/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.link__black {
  color: var(--black);
}

.link__white {
  color: var(--white);
}

.hidden {
  display: none;
}

.back {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  width: 96rem;
  color: var(--black);
}
