/*Onze Winkel*/
/* .main__winkel */

.winkel__title--line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.winkel__title {
  font-family: "Oswald", helvetica, arial, sans-serif;
  font-weight: bold;
  background-color: var(--red);
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0 auto;
  width: 40%;
  margin-top: 2rem;

  @media (--only-mobile-screen) {
    font-size: 1rem;
    padding: .5rem;
  }

  @media (--only-ipad-screen) {
    font-size: 1rem;
  }
}

/*highlight*/

.highlight__article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  background-color: var(--beige);
  border-top: dashed var(--black);
  border-bottom: dashed var(--black);
  padding: 1rem;
  margin: 2rem 1rem;
  width: 70rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (--only-mobile-screen) {
    display: flex;
    margin: 2rem 0rem;
    flex-direction: column-reverse;
    justify-content: center;
  }

  @media (--only-ipad-screen) {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.highlight__wrapper {
  display: flex;
  flex-direction: column;
}

.highlight__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5rem;

  @media (--only-ipad-screen) {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
  }
}

.highlight__book {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;

  @media (--only-ipad-screen) {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.highlight__text {
  @media (--only-mobile-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (--only-ipad-screen) {
    font-size: 1rem;
    text-align: center;
  }
}

.highlight__link {
  color: var(--black);
  text-decoration: underline;
}

.higlight__link:hover {
  color: var(--red);
}

.cart__button {
  border: var(--red) solid .1rem;
  border-radius: .5rem;
  padding: .3rem;
  display: inline-block;
  text-align: center;
  width: 4rem;

  &:hover {
    background-color: var(--red);
    color: white;
    transition: ease-in-out;
  }
}

.highlight__img {
  display: flex;
  justify-content: flex-end;
}

/*filter*/

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellow;
  position: sticky;
  top: -1px;
  padding: 1rem;
}

.filter__label {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (--only-mobile2-screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.filter__options--wrapper {
  @media (--only-mobile2-screen) {
    margin-top: 1rem;
  }
}

.filter__option {
  margin-left: 2rem;

  &:hover {
    color: var(--red);
  }

  @media (--only-mobile-screen) {
    margin-left: .5rem;
  }
}

.filter__button {
  color: var(--white);
  background-color: var(--red);
  padding: .5rem 1rem;
  border-radius: .4rem;
}

/*Section*/

.section__wrapper {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.section {
  margin-top: 2rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.section__title {
  font-size: 2.1rem;
  font-family: "Oswald", helvetica, arial, sans-serif;
  margin: auto;
  font-weight: bold;
}

/*Boeken*/
/* .books */

.book {
  margin: 1rem;
}

.book__title {
  font-weight: bold;
  margin-top: .5rem;
}

.book__author {
  color: var(--grey);
  font-weight: lighter;
}

/* .book__image {} */

.book__image--wrapper {
  display: flex;
  flex-direction: column-reverse;
}

/* .book__price {} */

.book__discount {
  margin-top: .5rem;
  background-color: var(--yellow);
  padding: .5rem;
}

.book__ebook {
  margin-top: .5rem;
}

.book__cart {
  margin-top: .5rem;
}

.book__price--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart__button--book {
  margin-top: 1rem;
}
/*Extra's*/
/*Abonnement*/

.section__wrapper--abonnement {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 2rem; */
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__abonnement {
  margin-top: 2rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.abonnement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

}

.abonnement__price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abonnement__price--item {
  margin-right: .5rem;
}
