/*Font*/
@font-face {
  font-family: 'swiss bold';
  src:
    url(/assets/fonts/swiss-721-bold-condensed-bt-70602.woff) format('woff'),
    url(/assets/fonts/swiss-721-bold-condensed-bt-70602.woff2) format('woff2');
}

@font-face {
  font-family: 'swiss heavy';
  src:
    url(/assets/fonts/swiss-721-heavy-bt.woff) format('woff'),
    url(/assets/fonts/swiss-721-heavy-bt.woff2) format('woff2');
}

/*Onze Winkel*/
/* .main__winkel */

.winkel__title {
  font-family: 'swiss bold', helvetica, arial, sans-serif;
  background-color: #ee090c;
  display: block;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 2rem 45rem;
}

/*highlight*/

.highlight {
  border: solid #ee090c;
  padding: 1rem;
  margin: 2rem 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.highlight__wrapper {
  display: flex;
  flex-direction: column;
  /* align-items:; */
}

.highlight__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5rem;

}

.highlight__book {
  text-align: center;
  margin-bottom: 5rem;
}

/* .highlight__text {} */

.highlight__img {
  display: flex;
  justify-content: flex-end;
}

/*filter*/

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .filter__options
.filter__label */

.filter__option {
  margin-right: 2rem;
}

.filter__button {
  color: white;
  background-color: red;
  padding: .5rem 1rem;
  border-radius: .4rem;
}

/*Section*/

.section {
  margin: 2rem 20rem;
  width: auto;
}

.section__title {
  font-size: 2.1rem;
  font-family: 'swiss bold', helvetica, arial, sans-serif;
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
}
/*Boeken*/
/* .books */

.book {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.book__title {
  font-weight: bold;
  margin-top: .5rem;
}

.book__author {
  color: grey;
  font-weight: lighter;
}

/* .book__image {} */

.book__image--wrapper {
  display: flex;
  flex-direction: column-reverse;
}

/* .book__price {} */

.book__discount {
  margin-top: .5rem;
  background-color: yellow;
  padding: .5rem;
}

.book__ebook {
  margin-top: .5rem;
}

.book__cart {
  margin-top: .5rem;
}

.book__price--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
/*Extra's*/
/*Abonnement*/
